{% extends 'base.html' %}

{% block content %}
    <h1>Contact URLLibrary</h1>
    <form method="post" action="/contact">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="message">Message:</label>
            <textarea class="form-control" id="message" name="message" required></textarea>
        </div>
        <!-- Button component from Bootstrap used here -->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
